.middle-explore{
    display: flex;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
    
    .head-exp{
        display: flex;
        justify-content: space-between;
    }

    .float-btn-container{
        .float-btn{
            position: absolute;
            display: flex;
            width: 200px;
            cursor: pointer;
            transition: 0.5s ease-in-out;

            .basic-content{
                display: flex;
                align-items: center;
            }

            .text-container{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            &.collapse{
                background-color: var(--fillInput);
                padding: 20px;
                transform: scale(1.2);
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

                .state-content{
                    transform: scale(1.1);
                    margin-top: 20px;
                    padding-top: 6px;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);

                    .state{
                        font-size: 12px;
                    }
                    
                    .statusColor{
                        width: 20px;
                        height: 20px;

                        padding: 10px;
                        border-radius: 100%;
                        margin-right: 10px;
                    }
                }
            }

            .title-float{
                margin-left: 20px;
            }

            .circle{
                display: flex;
                align-items: center;
                .cir1{
                    background-color:  rgba(73, 177, 252, 0.47);
                    width: 20px;
                    border-radius: 100%;
                    height: 20px;

                    .cir-inner{
                        background-color: rgba(41, 165, 253, 0.4);
                        width: 45px;
                        border-radius: 100%;
                        height: 45px;
                        position: relative;
                        top: -13px;
                        left: -12px;
                        animation: 1s blinkOpacity infinite ease-in-out;
                    }

                    @keyframes blinkOpacity {
                        0%{
                            opacity: 0;
                        }100%{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .view-switch {
        display: flex;
        margin-left: auto;
        background-color: var(--fillInput);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 22px;
        padding: 4px;
      }
      
      .view-switch button {
        border-radius: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 6px 10px;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }
      
      .view-switch button.active {
        border-radius: 100%;
        background-color: var(--primaryColor);
        color: #fff; /* Couleur du texte pour le bouton actif */
      }
      

    .middle-explore-content{
        height: 100%;
        width: 76%;
        padding: 20px 100px;

        .title-city{
            width: 70%;
            
            h1{
                font-size: 20px;
            }

            p{
                font-size: 13px;
            }
        }

        .cityExplore{
            overflow: auto;
            width: 100%;
            z-index: 1;
            height: 100%;

            .house{
                width: 100%;
                height: 100%;
            }
        }
    }


    .exploreTitle.visible{
        display: block;
    }

    .exploreTitle.hidden{
        display: none;
    }

    .toggle-btn-collapse{
        position: absolute;
        top: 150px;
        border-radius: 6px;
        background-color: var(--darkColorTransparent);
        padding: 5px 10px;
        left: 200px;
        transition: 0.5s;
        cursor: pointer;
        z-index: 30;

        &:hover{
            background-color: var(--primaryColor);
            color: #fff;
        }
    }

    .exploreTitle{
        position: relative;
        // top: -100px;
        left: 200px;   
        z-index: 2;
        width: 500px;
        animation: 1s zoom ease-in-out;

    }

    .guide-navigation{
        width: 200px;
        position: relative;
        left: 0%;
        margin-top: 30px;

        .direction{
            padding: 20px;
            transition: 0.5s ease-in-out;
            cursor: pointer;
        
            &.up{
                background-color: var(--scrollColor);
                width: 50px;
                position: relative;
                left: 40%;
                height: 50px;
                text-align: center;
                border-radius: 10px;
                margin: 3px;

                span{
                    position: relative;
                    top: -60px;
                    left: 40%;
                    background-color: var(--color1);
                    font-size: 11px;
                    padding: 3px 10px;
                    border-radius: 20px;
                }
            }

            &.down{
                background-color: var(--scrollColor);
                width: 50px;
                position: relative;
                left: 40%;
                height: 50px;
                text-align: center;
                border-radius: 10px;
                margin: 3px;

                span{
                    position: relative;
                    top: -60px;
                    left: 7px;
                    background-color: var(--color1);
                    font-size: 11px;
                    padding: 3px 10px;
                    border-radius: 20px;
                }
            }
        }

        
        .horizontal{
            display: flex;
            justify-content: space-between;

            .right{
                background-color: var(--scrollColor);
                width: 50px;
                position: relative;
                height: 50px;
                text-align: center;
                border-radius: 10px;
                margin: 3px;

                span{
                    position: relative;
                    top: -60px;
                    left: 40%;
                    background-color: var(--color1);
                    font-size: 11px;
                    padding: 3px 10px;
                    border-radius: 20px;
                }
            }

            .left{
                background-color: var(--scrollColor);
                width: 50px;
                position: relative;
                left: 10px;
                height: 50px;
                text-align: center;
                border-radius: 10px;
                margin: 3px;

                span{
                    position: relative;
                    top: -60px;
                    left: 40%;
                    background-color: var(--color1);
                    font-size: 11px;
                    padding: 3px 10px;
                    border-radius: 20px;
                }
            }
        }
    }
}