.formPermis-bloc {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.formPermis-bloc .btn-retour {
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.formPermis-bloc .btn-retour button {
  outline: none;
  border: none;
  background-color: none;
  padding: 5px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: var(--darkFontColor);
}
.formPermis-bloc .button-confirmer {
  position: absolute;
  top: 80px;
  right: 50px;
  border-radius: 20px;
}
.formPermis-bloc .button-confirmer button {
  width: 120px;
  height: 60px;
  padding: 10px;
  color: white;
  outline: none;
  border: none;
  background-color: var(--primaryColor);
  border-radius: 20px;
}
.formPermis-bloc .main-container {
  width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  background-color: var(--fillInput);
  border-radius: 40px;
  padding: 10px 40px;
}
.formPermis-bloc .main-container h1 {
  text-align: center;
  color: var(--darkFontColor);
}
.formPermis-bloc .main-container .form-containner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 50px;
}
.formPermis-bloc .main-container .form-containner .input-containner {
  width: 100%;
}
.formPermis-bloc .main-container .form-containner .input-containner label {
  margin-left: 5px;
  color: var(--darkFontColor);
}
.formPermis-bloc .main-container .form-containner .input-containner select,
.formPermis-bloc .main-container .form-containner .input-containner input {
  width: 100%;
  border: none;
  outline: none;
  border: 2px solid var(--darkFontColor);
  border-radius: 15px;
  height: 40px;
  padding: 10px;
  background-color: var(--fillInput);
  color: var(--darkFontColor);
}
.formPermis-bloc .main-container .form-containner input[type=number]::-webkit-inner-spin-button,
.formPermis-bloc .main-container .form-containner input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formPermis-bloc .main-container .form-containner input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
.formPermis-bloc .main-container .form-containner .signature-containner {
  width: 100%;
}
.formPermis-bloc .main-container .form-containner .signature-containner .signature {
  width: 100%;
  height: 120px;
  border-radius: 30px;
  border: 2px solid var(--darkFontColor);
}
.formPermis-bloc .main-container .form-containner .age-adresse {
  gap: 10px;
}
.formPermis-bloc .main-container .form-containner .age-adresse .age-et-naiss {
  display: flex;
  gap: 10px;
}
.formPermis-bloc .main-container .form-containner .age-adresse .age-et-naiss .age {
  width: 40%;
}
.formPermis-bloc .main-container .form-containner .age-adresse .age-et-naiss .sexe {
  width: 65%;
}
.formPermis-bloc .main-container .form-containner .datenaiss-et-lieu {
  display: flex;
  gap: 10px;
}
.formPermis-bloc .main-container .form-containner .btn-containner {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin: 20px 0px;
  width: 100%;
}
.formPermis-bloc .main-container .form-containner .btn-containner .button button {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  color: var(--darkFontColor);
}
.formPermis-bloc .main-container .form-containner .btn-containner .btn-2 button {
  background-color: var(--primaryColor);
  color: white;
}
.formPermis-bloc .main-container .form-containner .btn-containner .btn-2 button:hover {
  background-color: none;
}
.formPermis-bloc .main-container .form-containner .btn-containner .btn-1 button:hover {
  background-color: var(--primaryColor);
  color: white;
}/*# sourceMappingURL=formPermis.css.map */