// Variables
$primary-color: #64C0F9;
$secondary-color: #FFDE5C;
$sidebar-width: 270px;
$sidebar-mini-width: 78px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Sidebar styles 
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $sidebar-width;
    background-color: var(--whiteColor);
    transition: width .5s ease;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    ul {
        list-style: none;
    }

    .link {
        cursor: pointer;
    }
}

.sidebar.close {
        width: $sidebar-mini-width;

        .sidebar-content {
            margin: 0;
        }

        .sidebar-body {
            margin: 10px;

            .sidebar-list li .link i {
                min-width: 60px !important;
            }

        }

        .fa-chevron-down {
            display: none;
        }

        .sidebar-close {
            @include flex-center;
            padding: 0;
        }

        .fa-chevron-left {
            transform: rotate(180deg);
        }

        img {
            width: 80px !important;
        }
    }

.sidebar-close {
    width: 100%;
    height: 50px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 13px;

    i {
        background-color: #747474;
        color: #fff;
        padding: 8px 10px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 8px;
        &:hover {
            background-color: #5c5c5c;
        }
    }
}

.sidebar-content {
    margin: 0 30px;

    .sidebar-logo {
        img {
            transition: all .5s ease-in-out;
            width: 100%;
            height: 60px;
        }
    }
}

@mixin link {
    display: flex;
    transition: all .5s ease-in-out;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 5px;


}

.sidebar-body {
    height: 100vh;
}

.sidebar-list {
    height: 100%;
    overflow: auto;

    .fa-chevron-down {
        font-size: 15px !important;
        cursor: pointer;
    }

    .icon-item {
        width: 20px;
        margin-right: 10px;
        background-color: transparent;
    }
    
    .link {
        color: #000;
    } 

    li.active .fa-chevron-down {
        transition: all .5s ease;
        transform: rotate(180deg);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        transition: all .5s ease;
        width: 100%;
    }

    .link {
        @include link;
        justify-content: flex-start;
        &.active { 
           color: #fff; 
            background: linear-gradient(90deg, $primary-color, $primary-color, $secondary-color) !important;
        }
        
        &.active i {
           color: #fff !important;
        }
    }

    .title {
        @include link;
        justify-content: space-between;

        .link {
            margin-bottom: 0px;
        }

    }

    li.dropdown.active .title { 
        background: linear-gradient(90deg, $primary-color, $primary-color, $secondary-color)  !important;
        
        .link, .link i {
            color: #fff;  
        }

    }

    .submenu {
        width: 100%;
        height: 0px;
        opacity: 0;
        transition: all .25s ease-in-out;
        border-radius: 15px;
        color: #000;
        border: 3px solid #e2e2e2 !important;
        //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;

        .link {
            margin: 2px 3px;
            border-radius: 10px;
            transition: all .3s ease-in-out;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;           
            display: none;
            
            &.active {
                color: #fff !important;      
                background: linear-gradient(90deg, $primary-color, $primary-color, $secondary-color)  !important;
            }

            &:hover {
                background-color: lighten(gray, 30);
            }
        }
    }

    li.dropdown.active .submenu {
        display: block;
        width: 100%;
        height: 100%;
        margin: 5px 0;
        opacity: 1;
        box-shadow: none;
        border: none;

        .link {
            display: flex;
        }

        .title {
            color: #fff !important;
        }
    }

}

.sidebar-list li .link i{
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 20px;
}

.sidebar-list li .title .name {
    font-size: 16px;
    font-weight: 400;
}

.submenu .link {
    font-size: 15px;
    padding: 5px 0;
}

.sidebar.close .title .name {
    display: none;
}

.sidebar.close .sidebar-list {
    overflow: visible;
}

.sidebar.close .sidebar-list li {
    position: relative;
}

.sidebar.close .sidebar-list li .submenu {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    left: 100%;
    margin-top: 0;
    padding: 10px 20px;
    width: max-content;
    opacity: 0;
    border: none !important;
    box-shadow: none !important;

    .link {
        margin-bottom: 5px;
        padding: 5px 20px;
        border-radius: 20px;
        background: linear-gradient(90deg, $primary-color, $primary-color, $secondary-color) !important;
        margin-left: 0;
    }
}

.sidebar.close .sidebar-list li .name {
    opacity: 0;
}

.sidebar.close .sidebar-list li:hover .name {
    opacity: 1;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, $primary-color, $primary-color, $secondary-color) !important;
    position: absolute;
    top: 15px;
    left: 80px;
}

.sidebar.close ~ .main-content {
    left: $sidebar-mini-width;
    width: calc(100% - $sidebar-mini-width);
}

// Topbar styles
.topbar {
    .topbar-nav {
        color: #40AFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
    }

    .fa-chevron-down {
        transition: all .5s ease-in-out;
        font-size: 12px;
        margin-left: 5px;
        cursor: pointer;
        color: gray;
    }

    .user.open .submenu-topbar {
        display: static;
        opacity: 1;
    }

    .fa-chevron-right {
        font-size: 10px !important;
        margin: 0px 5px; 
    }

    .user.open i {
        transform: rotate(180deg);
    }

    .submenu-topbar {
        position: absolute;
        display: block;
        opacity: 0;
        transition: all .5s ease-in-out;
        top: 65px;
    }

    .submenu-topbar button {
        color: red;
        background-color: #e2e2e2;
        border-color: 1px solid #fff;
        padding: 8px 15px;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
            background-color: darken(#e2e2e2, 10);
        }
    }
}

// Section styles
.main-content {
    position: absolute;
    transition: all .5s ease;
    padding: 20px 30px;
    left: $sidebar-width;
    width: calc(100% - $sidebar-width);
}

